* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2 !important;
}

#headerLine {
  border-color: grey;
}

#exportTable {
  float: right;
  margin-right: 90px;
}

#sideNav {
  position: absolute;
  width: 10%;
  height: 260%;
}

#toggleButton {
  float: left;
}

.navbar.navbar-inverse {
    margin: 0;
    border-radius: 0;
    border: none;
}

.glyphicon-home {
  color: white;
}

.content {
  position: relative;
  margin-top: 0px;
  margin-left: 170px;
}

#tableSelect {
  display: inline;
}

.pieChart {
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  display: inline-block;
}

.histoChart {
  padding-left: 20px;s
}

#tagWords {
  margin-top: 3px;
  background-color: #222;
  border:2px solid #4322c0;
  height: 300px;
}

.tableClass {
  margin-top: 30px;
}
